.places__link {
  font-style: normal;
  max-width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
  margin: 0;
  transition-duration: 1s;
}

.places__link:hover{
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places__link {
    padding: 0 16px 0 16px;
  }
}